<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/qrfavicon.png"> 
  <title>QR Forge</title>
</head>
<body>

  <!-- Heading -->
  <div class="p-1 text-center bg-body-tertiary rounded-3">
    <svg class="mb-3" style="color: var(--bs-indigo);" width="100" height="10"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Generate your custom QR code</h1>
  </div>
    
  <form action="/" method="POST" style="margin-left: auto; margin-right: auto;">
    
    <!-- Input -->
    <div class="mt-5" style=" width: 20rem; margin-left: auto; margin-right: auto; text-align: center;">
      <label for="exampleInputEmail1" class="form-label">Enter URL</label>
      <input type="text" class="form-control" id="url" name="url" value="<%= inputUrl %>"  >
      
      <!-- Button -->
      <div class="d-inline-flex mb-3 pt-3">
        <button style="margin-left: auto; margin-right: auto;" class=" btn btn-primary btn-lg px-4 rounded-pill" type="submit" id="generateButton"">
          Generate
          <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
        </button>
      </div>
    </div>
  </form>

  <!-- Image holder -->
  <div class="card mt-5" style="width: 18rem; margin-left: auto; margin-right: auto;">
    <img src="<%= imgSrc  %>" class="card-img-top" alt="Enter URL to generate QR Code" id="img">
    </div>
    <div class="card-body text-center">
      <!-- Add a download button below the QR image -->
      <a href="#" class="btn btn-primary mt-4" id="downloadButton">Download QR Code</a>
    </div>
  </div>

  <script>
    document.getElementById('downloadButton').addEventListener('click', function() {
      var img = document.getElementById('img');
      var link = document.createElement('a');
      link.href = img.src;
      link.download = 'qrcode.png';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    });
    </script>
    

</body>
</html>